/* <-------------CSS Reset------------> */
/* * {
    margin: 0px;
    padding: 0px;

} */


/* <--------------------------Navigation Section------------------------> */
#navbar{
    flex-direction: column;
    flex-wrap: wrap;
}


#navbar ul li  {
    font-size: 1rem;
    padding: 10px 7px;
}


/* <--------------------------------Home:Section--------------------> */

#home {
    /* height: 729px; */
    padding: 3px 20px;
    height: 776px;}

#home::before{
    height: 913px;
    width: 100%;
    
}
#home p{
    font-size: 13px;
}




/* <--------------------------------Service Section---------------> */
#services{
    flex-direction: column;
}
#services .box{
    padding: 11px;
    margin: 2px -9px;
    margin-bottom: 31px;
}

#services .box img {
    
    height: 99px;
}








/* <------------------------------Client-Section----------------------------> */

#client{
    /* overflow: hidden; */
    width: auto;
    flex-wrap: wrap;
}

#client img{
    margin: 0px 13px
}

#client img{
    width: 150px;
    height: auto;
}





/* <---------------------------------------Contact-section---------------------------------> */

#contact-box form{
    width: 80%
}


/* <---------------------Utility-class------------------> */
.h1-primary{
    font-size: 40px;
}