/* <-------------CSS Reset------------> */
* {
    margin: 0px;
    padding: 0px;

}

/* <---------------------------------------------CSS Variable----------------------> */
html{
    scroll-behavior: smooth;
}

/* <-------------------------------------------Navigation-----------------------> */
#navbar {
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

/* <--------------------------Logo & Logo Img------------------------------> */
#logo {
    margin: 0px 5px;
}

#logo img {
    height: 74px;
    margin: 7px 6px;
}

/* <--------------------------------Navigation------------------------> */

#navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;

}

#navbar::before {
    content: "";
    background-color: rgb(14, 14, 8);
    z-index: -1;
    position: absolute;
    opacity: 0.9;
    height: 100%;
    width: 100%;
}


/* <------------------------------Navigation:ListStyling----------------------> */

#navbar ul {
    display: flex;
    font-family: 'Oswald', sans-serif;
}


#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    padding: 11px 9px;
    color:white !important; 
        text-decoration: none;
        /* color: white; */
        border-radius: 20px;
        /* display: block; */
    }

#navbar ul li a:hover {
    background-color: rgb(42, 165, 52);
    color: white;
    cursor:pointer;

}
/* #navbar ul li a:hover {
    color: inherit; /* or any other desired color }*/

 

/* <--------------------------Home:Section--------------------> */
#home {
    display: flex;
    flex-direction: column;
    padding: 023px 181px;
    height: 608px;
    justify-content: center;
    align-items: center;
    /* coment-out atla mate karyu ke akha ma image aave */
    /* position: relative; */
}

#home::before {
    content: "";
    background: url('../img/bg1.jpg')no-repeat center center/cover;
    /* background-repeat: no-repeat;
    background-position: center;
    background-size:cover; */
    z-index: -1;
    position: absolute;
    opacity: 0.9;
    top: 0px;
    left: 0px;
    height: 96%;
    height: 642px;
    width: 100%;
}

#home h1 {
    font-size: 3.5rem;
    color: white;
    text-align: center;
    padding: 10px;
    font-family: 'Bree Serif', serif;

}

#home p {
    font-size: 1.4rem;
    color: white;
    text-align: center;
    padding: 10px;
    font-family: 'Wix Madefor Text', sans-serif;

}

/* <--------------------------------Service Section---------------> */
#service-container {
    /* background-color: #c6e7ed */
    background-color: rgb(190 232 194);
    margin-top: -86px
}

#services {
    margin: 23px;
    display: flex;

}

#services .box {
    border: 2px solid red;
    border-radius: 20px;
    margin: 10px;
    padding: 35px;
    background-color: #ece5e5;
}

#services .box img {
    display: block;
    height: 140px;
    margin: auto;
}

#services .box p {
    font-family: 'Wix Madefor Text', sans-serif;

}

/* <------------------------------Client-Section----------------------------> */
#client-section::before {
    content: "";
    position: absolute;
    background-image: url('../bg.jpg');
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
}


#client-section {
    /* height: 340px;========================================================================== */
    position: relative;
}

#client {
    display: flex;
    justify-content: center;
    /* overflow: hidden; */
}

#client img {
    height: 192px;
    padding: 0px 13px
    
}


/* <---------------------------------------Contact-section---------------------------------> */
#contact {
    padding-top: 18px;
    position: relative;
    margin-top: 0px;

}
#contact::before {
    content: "";
    background-image: url(../img/contact.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
    height: 93%;
    width: 100%;
    position: absolute;
    /* position: relative; */
    box-sizing: border-box;
}


#contact-box {
    font-family: 'Wix Madefor Text', sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding-bottom: 34px;
}

#contact-box input, 
#contact-box textarea{
    width: 530px;
    width: 100%;
    /* display: block; */
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
    /* margin-top: 3px; */
} 

#contact-box label{
    
    
    font-size: 1.3rem;
   font-family: 'Bree Serif', serif;
}

footer{
    background-color: black;
    color:white;
    padding: 9px 20px;
    margin-top: -24px;
}


/* <---------------------------Utility Class-----------------------> */
.h-primary {
    font-size: 3.8rem;
    padding: 12px;
}

.h-secondary {
    font-size: 2.5rem;
    padding: 16px;
}

.text-center {
    text-align: center;
}

.btn {
    border: 2px solid white;
    border-radius: 20px;
    padding: 12px 14px;
    margin: 11px;
    cursor: pointer;
    font-size: 1.5rem;
    color: white;
    background: none;


    /* background mathi color kadhvani 2 method che.  */

    /* background-color: rgba(0,0,0,0.4); */
    /* Black w/ opacity */
}

.btn:hover{
    background-color: rgb(42, 165, 52);
    color: white;
    cursor:pointer;

}